.section_main_flag {
    display: flex;
    justify-content: row;
    flex-direction: row;

}

#tajik {
    width: 150px;
    height: 80px;
    margin-left: 110px;
    margin-top: 50px;
}
#kyrgyz {
    width: 150px;
    height: 80px;
    margin-left: 10px;
    margin-top: 50px;
}

#india {
    width: 150px;
    height: 80px;
    margin-left: 10px;
    margin-top: 50px;

}

#uzbek {
    width: 150px;
    height: 80px;
    margin-left: 10px;
    margin-top: 50px;

}

#soyuz {
     width: 150px;
    height: 80px;
    margin-left: 10px;
    margin-top: 50px;

}


#kazakh {
        width: 150px;
    height: 80px;
    margin-left: 10px;
    margin-top: 50px;

}

#russia {
          width: 150px;
    height: 80px;
    margin-left: 10px;
    margin-top: 50px;

}

#usa {
  width: 150px;
  height: 80px;
  margin-left: 10px;
  margin-top: 50px;
  transition: 0.3s ease;
}

#usa:hover {
  transform: scale(1.4) !important;
  transition: 0.3s;
}


#russia:hover {
  transform: scale(1.4) !important;
  transition: 0.3s;
}


#kazakh:hover {
  transform: scale(1.4) !important;
  transition: 0.3s;
}


#soyuz:hover {
  transform: scale(1.4) !important;
  transition: 0.3s;
}


#uzbek:hover {
  transform: scale(1.4) !important;
  transition: 0.3s;
}


#kyrgyz:hover {
  transform: scale(1.4) !important;
  transition: 0.3s;
}


#india:hover {
  transform: scale(1.4) !important;
  transition: 0.3s;
}


#tajik:hover {
  transform: scale(1.4) !important;
  transition: 0.3s;
}

