.section_forum {
    margin-top: 50px;
    background-color: rgb(2, 2, 74);
    width: 100%;
}


.section_forum_title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.section_forum_title_text {
    color: rgb(233, 156, 14);
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    margin-top: 100px;
}

.section_forum_img {
    width: 160px;
    height: 90px;
    margin-left:110px;
}

.section_forum_subtitle {
    font-family: "Montserrat", sans-serif;
    color: rgb(232, 232, 232);
    margin-left: 320px;
    font-size: 22px;
    margin-top: -60px;
}
.section_forum_countries_count {
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
    font-size:60px;
    font-weight: bold;
    margin-top: 120px;
    margin-left: 220px;
    height: 90px;
}
.section_forum_countries_text {
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 100px;
    margin-top: 10px;
    margin-left:120px;
}

.section_forum_pipe {
    color: rgb(208, 125, 0);
    font-size: 80px;
    font-weight:lighter;
    margin-left: 480px;
    margin-top: -170px;

}

#title {
    background-color:  rgb(2, 2, 74);
    max-width: 100%;
    height: auto;
}